USE [master]
GO
/****** Object:  Database [SuperCourse]    Script Date: 2016/10/23 14:07:14 ******/
CREATE DATABASE [SuperCourse]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SuperCourse', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SuperCourse.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SuperCourse_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SuperCourse_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SuperCourse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SuperCourse]
GO
/****** Object:  Table [dbo].[course]    Script Date: 2016/10/23 14:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[course](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](25) NOT NULL,
	[teacher] [varchar](25) NOT NULL,
	[class] [varchar](25) NOT NULL,
	[score] [int] NOT NULL,
	[compulsory] [bit] NOT NULL,
	[hour] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[lessonplan]    Script Date: 2016/10/23 14:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[lessonplan](
	[name] [varchar](25) NOT NULL,
	[xingqi] [varchar](25) NOT NULL,
	[lessontime] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[xingqi] ASC,
	[lessontime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[course]  WITH CHECK ADD CHECK  (([score]>(0)))
GO
USE [master]
GO
